[submodule "TPJAD"]
	path = TPJAD-Projects
	url = https://github.com/claudiapop9/TPJAD-Projects.git
[submodule "GPU-DistArchitComputing"]
	path = GPU-DistArchitComputing
	url = https://github.com/claudiapop9/GPU-DistArchitComputing.git
[submodule "WSMT"]
	path = WSMT
	url = https://github.com/claudiapop9/WSMT-Projects.git
